.header {
  background-color: black;
  display: flex;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__searchIcon {
  padding: 5px;
  height: 22px;
  background-color: orange;
}

.header__search {
  align-items: center;
  border-radius: 24px;
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__option {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__optionBasket {
  color: white;
  margin-top: 5%;
}
.header__optionLineOne {
  font-size: 10px;
}
.header__optionLineTwo {
  font-size: 15px;
  font-weight: 900;
}
